<section id="carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]='src1' class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{c3}}</h5>
            <h3><b>with Medium</b></h3>
          </div>
        </div>
        <div class="carousel-item">
          <img [src]="src3" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{c1}}</h5>
            <p>Medium</p>
          </div>
        </div>
        <div class="carousel-item">
          <img [src]="src2" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{c2}}</h5>
            <p>10% OFF!! on Premium</p>
          </div>
        </div>
      
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <br><br>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Welcome to Medium!!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/home">About Us</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="https://www.linkedin.com/in/pranay-khade25/">Pranay Khade</a>.
          </p>
        </div>

      </div>
    </div>
</footer>
