<div>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Plan Name</th>
            <th>Price</th>
            <th>Months(Validity)</th>
        </tr>
        <tr>
            <td>{{a}}</td>
            <td>{{a2}}</td>
            <td [ngClass]="'begin'">{{a3}}</td>
            <td>{{a4}}</td>
        </tr>
        <tr>
            <td>{{b}}</td>
            <td>{{b2}}</td>
            <td  [ngClass]="'intermediate'">{{b3}}</td>
            <td>{{b4}}</td>
        </tr><tr>
            <td>{{c}}</td>
            <td>{{c2}}</td>
            <td [ngClass]="'expert'">{{c3}}</td>
            <td>{{c4}}</td>
        </tr>
    </table>
</div>
